body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ede0d4;
}


@font-face {
    font-family: "Monocraft";
    src: url("Monocraft.ttf") format("truetype");
  }


/*NAVIGATION*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #ede0d4;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #7f5539;
}
/*NAVIGATION*/






/*LINKS*/
.title-h2 {
  text-align: center;
  font-family: "Monocraft";
}

.background-sec {
  background-color: #ede0d4;
}

.icons-div i {
  color: white;
  margin-left: 70px;
  margin-top: 30px;
}

.links-div {
  margin-top: 15px;
}

.links-div a {
  color: white;

  margin-left: 62px;
}

.background-div {
  background-color: #b08968;
  border-radius: 35px;
}

/*LINKS*/

/* FORM*/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #ede0d4;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ede0d4;
}

.container {
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
}

.container label {
  color: white;
}

/* FORM*/

@media only screen and (min-width: 1200px) {
  .background-sec {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .icons-div {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 65px
  }

  .links-div {
    margin-top: 15px;
    text-align: center;
    margin-right: 2px;
  }

  .links-div a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0px 28px;
  }
  
  .background-div {
    background-color: #b08968;
    border-radius: 35px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
}
