body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ede0d4;
}

/*NAVIGATION*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #ede0d4;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #7f5539;
}
/*NAVIGATION*/

/**/
.title-h2 {
  text-align: center;
  font-family: "Monocraft";
}
/**/

.background-sec {
  background-color: #ede0d4;
}

/*  INTRO    */

@font-face {
  font-family: "Monocraft";
  src: url("Monocraft.ttf") format("truetype");
}
.intro-div {
  margin-top: 40px;
  padding: 5px;
  background-color: #b08968;
  border-radius: 30px;
}

.intro-p {
  color: white;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-left: 10px;
}
/*  INTRO    */

/*IMAGE*/
.gallery {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
.gallery-item {
  border-radius: 5px;
  padding: 10px;
}
.gallery-item img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
}
/*IMAGE*/

/*INTRO TWO*/
.introTwo-div {
  margin-top: 10px;
  padding: 5px;
  background-color: #b08968;
  border-radius: 30px;
}

.introTwo-p {
  color: white;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-left: 10px;
}
/*INTRO TWO*/
