@font-face {
  font-family: "Monocraft";
  src: url("Monocraft.ttf") format("truetype");
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ede0d4;
}

/*NAVIGATION*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #ede0d4;
}

.title-h2 {
  text-align: center;
  font-family: "Monocraft";
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #7f5539;
}
/*NAVIGATION*/

.w3-margin {
  font-family: "Monocraft";
}

.w3-container {
  background-color: #ede0d4;
}

.w3-bar {
  background-color: #b08968;
}

.active {
  background-color: #ede0d4;
}

.w3-bar-block {
  background-color: #b08968;
}

/*IMAGE1*/
.gallery {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
}
.gallery-item {
  border-radius: 5px;
  padding: 10px;
}
.gallery-item img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
}
/*IMAGE1*/

/*first grid*/
.w4-container {
  background-color: #ede0d4;
}

.intro-margin {
  text-align: center;
  font-family: "Monocraft";
}

/*first grid*/

/*second grid*/

/*IMAGE2*/
.gallery2 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
}
.gallery-item2 {
  border-radius: 5px;
  padding: 10px;
}
.gallery-item2 img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
}
/*IMAGE2*/

@media only screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 150px;
    margin-top: 170px;
  }

  /*image two*/
  .gallery2 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 25px;
  }
  .gallery-item2 {
    border-radius: 5px;
    padding: 10px;
  }
  .gallery-item2 img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
  }
  /*image two*/
}

.quote-text {
  font-size: larger;
}

h5 {
  background-color: #b08968;
  color: white;
  border-radius: 20px;
  padding: 20px;
}
